
# /
/aclocal.m4
/config.h.in
/config.h
/*.cache
/install-sh
/mkinstalldirs
/missing
/config.*
/stamp*
/Makefile.in
/Makefile
/depcomp
/configure
/libtool
/*.opt
/*.ncb
/shibboleth.spec
/.settings
/.autotools
/.cproject
/.project
/*.suo
/Debug
/debug
/Release
/x64
/Portfile
/pkginfo
/*.gz
/*.sdf
/*.opensdf
/ipch
/build-aux
/build

# /adfs/
/adfs/*.user
/adfs/adfs-lite-Debug
/adfs/Release
/adfs/Debug
/adfs/adfs-lite-Release
/adfs/x64
/adfs/.deps
/adfs/Makefile.in
/adfs/Makefile

# /apache/
/apache/Makefile.in
/apache/Makefile
/apache/.libs
/apache/.deps
/apache/*.lo
/apache/*.la
/apache/Debug
/apache/*.plg
/apache/Release
/apache/*.dep
/apache/*.mak
/apache/*.aps
/apache/*.user
/apache/mod_shib_20-Debug
/apache/mod_shib_22-Debug
/apache/mod_shib_22-Release
/apache/mod_shib_20-Release
/apache/x64

# /configs/
/configs/Makefile
/configs/Makefile.in
/configs/apache.config
/configs/apache2.config
/configs/shar.logger
/configs/shire.logger
/configs/shibboleth.ini
/configs/shibboleth.xml
/configs/creds.xml
/configs/AAP.xml
/configs/IQ-sites.xml
/configs/IQ-trust.xml

# /doc/
/doc/Makefile
/doc/Makefile.in

# /fastcgi/
/fastcgi/*.user
/fastcgi/shibauthorizer-Release
/fastcgi/shibresponder-Release
/fastcgi/shibresponder-Debug
/fastcgi/shibauthorizer-Debug
/fastcgi/x64
/fastcgi/.deps
/fastcgi/Makefile.in
/fastcgi/Makefile

# /isapi_shib/
/isapi_shib/*.plg
/isapi_shib/Release
/isapi_shib/Debug
/isapi_shib/*.dep
/isapi_shib/*.mak
/isapi_shib/*.user
/isapi_shib/x64

# /m4/
/m4/ltversion.m4
/m4/ltoptions.m4
/m4/lt~obsolete.m4
/m4/ltsugar.m4
/m4/libtool.m4

# /memcache-store/
/memcache-store/*.user
/memcache-store/Debug
/memcache-store/Release
/memcache-store/.deps
/memcache-store/Makefile.in
/memcache-store/Makefile
/memcache-store/x64

# /msi/
/msi/*.msi
/msi/compile.log

# /nsapi_shib/
/nsapi_shib/*.plg
/nsapi_shib/Release
/nsapi_shib/Debug
/nsapi_shib/*.dep
/nsapi_shib/*.mak
/nsapi_shib/*.aps
/nsapi_shib/*.use
/nsapi_shib/.deps
/nsapi_shib/Makefile.in
/nsapi_shib/Makefile
/nsapi_shib/*.user

# /odbc-store/
/odbc-store/*.user
/odbc-store/Debug
/odbc-store/Release
/odbc-store/x64
/odbc-store/.deps
/odbc-store/Makefile.in
/odbc-store/Makefile

# /plugins/
/plugins/Makefile.in

# /schemas/
/schemas/aclocal.m4
/schemas/config.h.in
/schemas/config.h
/schemas/*.cache
/schemas/install-sh
/schemas/mkinstalldirs
/schemas/missing
/schemas/config.*
/schemas/stamp*
/schemas/Makefile.in
/schemas/Makefile
/schemas/depcomp
/schemas/configure
/schemas/libtool

# /selinux/
/selinux/Makefile.in
/selinux/Makefile
/selinux/shibshar.fc

# /shibd/
/shibd/.libs
/shibd/.deps
/shibd/Makefile
/shibd/Makefile.in
/shibd/shibd
/shibd/test-client
/shibd/*.plg
/shibd/testclient___Win32_Debug
/shibd/testclient___Win32_Release
/shibd/Debug
/shibd/Release
/shibd/*.dep
/shibd/*.mak
/shibd/*.user
/shibd/*.aps
/shibd/x64

# /shibsp/
/shibsp/*.user
/shibsp/Debug
/shibsp/*.aps
/shibsp/shibsp-lite-Debug
/shibsp/Release
/shibsp/shibsp-lite-Release
/shibsp/.deps
/shibsp/Makefile.in
/shibsp/Makefile
/shibsp/paths.h
/shibsp/x64

# /util/
/util/Debug
/util/*.user
/util/Release
/util/x64
/util/.deps
/util/Makefile.in
/util/Makefile
